#!/usr/bin/env bash

bootstrap_nix() {
  local nix_bin nix_store nix_hash store_path

  store_path=/nix/store/bvbmqrghmr966xkw49p6ahx85a9qblx8-nix-3.0pre20201021_ecfebde-x86_64-unknown-linux-musl
  nix_hash=sha256-VAlt8RP9js9pWOMmaJ/WX+sWp7nTk+15qsmfTIl54Ug=
  nix_store=$PWD/.direnv/nix-store

  # Fetch a static Nix binary.
  nix_bin=$(fetchurl "https://nar-serve.numtide.com${store_path}/bin/nix" "$nix_hash")
  # Only to fetch nix again, but from the cache.
  (
    unset HOME
    # TODO: make sure that cache.nixos.org is in the substituters
    exec -a nix-store "$nix_bin" --store "$nix_store" --realize --add-root "$PWD/.direnv/nix" --indirect "$store_path"
  )

  PATH_add .direnv/nix/bin

  # This is needed for <nix/fetchurl.nix>
  NIX_DATA_DIR=${nix_store}${store_path}/share
  export NIX_DATA_DIR
}

# TODO: check if it's Linux and x86_64
if [[ "$HOSTTYPE-$OSTYPE" == "x86_64-linux-gnu" ]]; then
  bootstrap_nix
elif ! type nix &>/dev/null; then
  echo "Please install Nix."
  exit 1
fi

#export NIX_CONFIG="substituters = https://numtide.cachix.org/"

export NIX_USER_CONF_FILES=$PWD/nix/nix.conf

# TODO: fix this
# use_nix
